* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    min-height: 60px;
    min-width: 120px;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: 0px 3px 6px #00000067;
}
button:hover {
    box-shadow: 0px 1px 2px #00000067;
    transform: translateY(2px);
}